<h3>AddQuestionPage</h3>

@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    //private IEnumerable<QuestionDto> accounts { get; set; } = new List<QuestionDto>();
    bool success;
    QuestionDto model = new QuestionDto();
    string[] errors = { };

    private async void OnValidSubmit(EditContext context)
    {
        //model.AccountType = accounts.FirstOrDefault(x => x.AccountId == model.AccountId).Type;
        //var response = await Http.PostAsJsonAsync("api/Expense/AddExpense", context.Model);
        //var content = await response.Content.ReadFromJsonAsync<Result>();
        //if (content is not null && content.IsSucessful)
        //{
        //    Account model = new Account();
        //    await ModalInstance.CloseAsync();
        //    Snackbar.Add(content.Message, Severity.Success);
        //    accountEvents.OnAccountAdded(this);
        //}
        //else if (content is not null && !content.IsSucessful)
        //{
        //    Snackbar.Add(content.Message, Severity.Success);
        //}
    }

    protected override async Task OnInitializedAsync()
    {

    }
}
